NODE_ENV=production
HOST=0.0.0.0
PORT=3080
DOMAIN_CLIENT=http://localhost:3080
DOMAIN_SERVER=http://localhost:3080
APP_TITLE=BoyanKB
HELP_AND_FAQ_URL=
CUSTOM_FOOTER=
CONFIG_PATH=/app/librechat.yaml
MONGO_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=
CREDS_KEY=
CREDS_IV=
METRICS_SECRET=
BOYANKB_KNOWLEDGE_AGENT_ID=
OPENAI_API_KEY=user_provided
ANTHROPIC_API_KEY=user_provided
GOOGLE_KEY=user_provided
ALLOW_EMAIL_LOGIN=true
ALLOW_REGISTRATION=false
ALLOW_SOCIAL_LOGIN=false
ALLOW_SOCIAL_REGISTRATION=false
ALLOW_PASSWORD_RESET=false
ALLOW_ACCOUNT_DELETION=false
ALLOW_UNVERIFIED_EMAIL_LOGIN=false
ALLOW_SHARED_LINKS=false
ALLOW_SHARED_LINKS_PUBLIC=false
BAN_VIOLATIONS=true
BAN_INTERVAL=20
BAN_DURATION=7200000
SESSION_EXPIRY=900000
REFRESH_TOKEN_EXPIRY=604800000
SESSION_COOKIE_SECURE=false
ENDPOINTS=agents,openAI,anthropic,google,custom
SEARCH=false
SCHEDULES_DISABLED=true
USE_REDIS=false
AUTH_USER_CACHE_MODE=off
USER_PRINCIPALS_CACHE_TTL_MS=0
SCARF_ANALYTICS=false
ANONYMIZED_TELEMETRY=false
DO_NOT_TRACK=1
LIBRECHAT_TEMP_CREDENTIALS_PATH=/app/data/.env.temp
